# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Firebase
google-services.json
firebase-debug.log
firestore-debug.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build
android/app/build/
android/build/
ios/build/
*.apk
*.aab
*.ipa

# Logs
logs
*.log
